<div class="col-md-4 col-xs-12 top-space">
  <div class=" Aligner box relative article-height txt-white div-box article-radius">
    <%= link_to(article) do %>
      <div class="absolute article-height background-cover article-radius" style="background:url(<%= article.cover.url(:thumb)%>);top:0px;left:0px;width:100%;">

      </div>
      <div class="absolute article-height background-cover article-radius" style="background:rgba(0,0,0,0.5);top:0px;left:0px;width:100%;">

      </div>

      <div class="relative text-center">
        <h2><%= article.title %></h2>
        <p>
          <%= truncate(strip_tags(article.body), length: 50) %>
        </p>
      </div>
    <%end%>
  </div>
  <% if user_signed_in? && current_user.is_admin? %>
    <div style="margin-top:5px;">
      <%= link_to 'Editar', edit_article_path(article), class:"hard-link" %> |
      <%= link_to 'Eliminar', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"hard-link" %>
    </div>
  <%end%>
</div>
<% article.body %><%  link_to "Eliminar", article, method: :delete, class:"txt-red" %>
