<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p class="txt-left"><strong><%= f.label :title, "Título:" %></strong></p>
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="field">
    <p class="txt-left"><strong><%= f.label :description, "Descripción:" %></strong> </p>
    <%= f.text_area :description, class:"form-control" %>
  </div>

  <div class="field">
    <p class="txt-left"><strong><%= f.label :video_link, "Link del video:" %></strong></p>
    <%= f.text_area :video_link, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Crear Receta", class:"category-btn" %>
  </div>
<% end %>
