<div class="col-md-4 col-xs-12 double-top">
  <div class="Aligner box relative article-height txt-white div-box article-radius">
    <%= link_to(recipe) do %>
      <div class="absolute article-height background-cover article-radius" style="background:rgba(0,0,0,0.5);top:0px;left:0px;width:100%;">

      </div>

      <div class="relative text-center">
        <h2><%= recipe.title %></h2>
        <p>
          <%= truncate(recipe.description, length: 50) %>
        </p>
      </div>
    <%end%>
  </div>
  <% if user_signed_in? && current_user.is_admin? %>
    <div style="margin-top:5px;">
      <%= link_to 'Editar', edit_recipe_path(recipe), class:"hard-link" %> |
      <%= link_to 'Eliminar', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class:"hard-link" %>
    </div>
  <%end%>
</div>
