<header style="font-size:20px;">
  <input type="checkbox" id="btn-menu">
  <label for="btn-menu" class="icon-menu"></label>
  <nav class="menu">
    <ul>
      <% unless current_page?(root_path)%>
        <li>
          <%= link_to "Inicio", root_path, class:"antic-font" %>
        </li>
      <%end%>
      <li><%= link_to "Artículos", articles_path, class:"antic-font" %></li>
      <li class="sub-menu"><a href="#" class="antic-font">Categorías<span class="icon-down-open"></span></a>
        <ul>
          <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, category, class:"antic-font" %>
            </li>
          <%end%>
        </ul>
      </li>
      <li><%= link_to "Recetas", recipes_path, class:"antic-font" %></a></li>
      <li><%= link_to "Tienda", products_path, class:"antic-font" %></li>
      <% if user_signed_in? %>
        <li id="profile" class="sub-menu" style="background:#ff5252;"><a href="#" class="antic-font">Perfil<span class="icon-down-open"></span> </a>
          <ul>
            <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"antic-font" %></li>
          </ul>
        </li>
      <%end%>
    </ul>
  </nav>
</header>
