<%= render "partials/secondbg" %>

<section class="container antic-font" style="margin: 0 auto; margin-top:4em;">
  <h1 class="text-center gigant-font txt-main-red">Bienvenido Admin</h1>
  <div class="text-right">
    <div class="tooltip">
      <p><a class="round-button" href="/articles/new"><i class="fa fa-plus txt-white" style="font-size:23px;"aria-hidden="true"></i></a>
      <p class="tooltiptext small-font">Agregar artículo</p>
    </div>
  </div>
  <div class="row middle-xs">
    <% @articles.each do |article|%>
      <div class="col-md-6 col-xs-12">
        <div class="shadow-box top-space" style="border-radius:10px;">
          <h1 class="<%= 'txt-main-red' unless article.may_publish? %>" style="display:inline"><%= link_to article.title, article %> </h1><p><%= article.created_at.strftime("%d %B %Y") %></p>
          <div>
            <p style="text-align: justify;"><%= truncate(strip_tags(article.body), length: 150) %></p>
          </div>

          <div class="text-center txt-main-red small-font" style="margin-top:3px;">
            <div class="tooltip">
              <%= link_to(edit_article_path(article), id: "edit-button") do %>
                <i class="fa fa-pencil manage-button" style="font-size:25px;" aria-hidden="true"></i>
              <%end%>
              <p class="tooltiptext">Editar</p>
            </div>

            <div class="tooltip">
              <%= link_to(article, method: :delete, data: {confirm: "¿Estás seguro?"}) do %>
                  <i class="fa fa-trash manage-button" style="font-size:25px;" aria-hidden="true"></i>
              <%end%>
              <p class="tooltiptext">Eliminar</p>
            </div>

            <div class="tooltip">
              <% if article.may_publish? %>
                <%= link_to("/articles/#{article.id}/publish", method: :put) do %>
                  <i class="fa fa-check manage-button" style="font-size:25px;" aria-hidden="true"></i>
                <%end%>
              <%end%>
              <p class="tooltiptext">Publicar</p>
            </div>
          </div>

        </div>

      </div>
    <%end%>
  </div>
</section>
