<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row center-xs">
    <div class="col-xs-6">
      <div class="box small-font double-top">
        <p class="txt-left"><%= f.label :name, "Nombre:" %></p>
        <%= f.text_field :name, class:"category-form" %>

        <div class="txt-left top-space">
          <%= f.label :color, "Color: " %>
          <%= f.color_field :color %>
        </div>

        <div class="top-space">
          <%= f.submit "#{action} categoría", class:"category-btn"%>
        </div>

        <div class="txt-left">
          <%= link_to 'Regresar', categories_path, class:"new-object" %>
        </div>

      </div>
    </div>
  </div>
<% end %>
