<%= render "partials/secondbg"%>
<p id="notice"><%= notice %></p>

<section class="container antic-font" style="margin: 0 auto; margin-top:4em;">
  <h1 class="gigant-font txt-main-red text-center">Categorías</h1>
  <div class="row start-xs txt-white">
    <% @categories.each do |category| %>
      <div class="col-md-3 col-xs-12">
        <%= link_to(category) do %>
          <div class="Aligner box relative div-box category-block double-top" style="background:<%= category.color %>; border-radius:10px;">
            <div class="relative text-center">
              <h2><%= category.name %></h2>
            </div>
          </div>
        <%end%>
        <div class="small-font txt-black">
          <%= link_to 'Edit', edit_category_path(category), class:"hard-link" %> |
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class:"hard-link" %>
        </div>
      </div>
    <%end%>

  </div>

  <p class="top-space"><%= link_to 'Agregar categoría', new_category_path, class:"medium-font new-object" %></p>

</section>
