<%= render "partials/secondbg" %>

<p id="notice"><%= notice %></p>

<section class="container antic-font small-font" style="margin: 0 auto;">
  <h1 class="text-center top-space gigant-font" style="color:<%=@category.color%>"><%= @category.name %></h1>

  <div class="row">
    <%= render @category.articles %>
  </div>
</section>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
